<div class="contact">
  <h1>Contact us</h1>
  <form action="/contact" method="POST" class="form-contact">
    <label class="name" for="name">Name:</label>
    <input type="text" class="name-contact" name="name" required>
    
    <label for="email">Email:</label>
    <input type="email" class="email-contact" name="email" required>
    
    <textarea name="message" id="message" cols="30" rows="10" placeholder="Message" required></textarea>
    
    <input type="submit" class="btn-message" value="Send Message">
  </form>
</div>
